.cart-sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transition: all 0.3s;
}

.cart-sidebar.open {
  right: 0;
}

.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.in-stock-icon {
  color: green;
}

.out-of-stock-icon {
  color: red;
}
